include .travis.yml
include CHANGELOG.rst
include LICENSE
include MANIFEST.in
include README.rst
include mopidy_local/ext.conf
include tox.ini

recursive-include tests *.py
recursive-include tests/data *
